{% extends "layout.html" %}

{% block title %}
    User
{% endblock %}

{% block main %}
    <form action="/passwordupdate" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="currentpassword" name="currentpassword" placeholder="Current Password" type="password">
        </div>
        <br>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="newpassword" name="newpassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Re-type New Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}
